@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Alegreya+Sans&family=Roboto&family=Source+Sans+Pro&display=swap");

:root {
  --dark-color: #272343;
  --primary-white: #fff;
  --secondary-white: #e3f6f5;
  --secondary-blue: #bae8e8;
  --light-green: #c7f0bd;
  --light-blue: #65afff;
}

* {
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.para {
  font-size: 1rem;
  line-height: 1.5em;
}
.heading1 {
  font-size: 3.052rem;
  line-height: 1.2em;
}
.heading2 {
  font-size: 2.441rem;
  line-height: 1.2em;
  font-family: "Alegreya Sans", sans-serif;
  text-align: center;
  margin-bottom: 1rem;
  letter-spacing: 3px;
  
}
/* .heading2::after{
  content: '';
  height: 0.3rem;
  width: 50%;
  background-color: var(--dark-color);  
  display: block;
  position: relative;
  left: 5%;
} */
.heading3 {
  font-size: 1.953rem;
  line-height: 1.2em;
}
.heading4 {
  font-size: 1.563rem;
  line-height: 1.2em;
  margin-bottom: 0.75rem;
}
.heading5 {
  font-size: 1.25rem;
  line-height: 1.2em;
}
.btn{
  border-radius: 15px;
}
.inverted-shadow{
  box-shadow: 4px 4px 13px 0 rgba(255, 255, 255, 1),
    -4px -4px 7px 0 rgba(0, 0, 0, 0.2),
    -6px -6px 36px 0 rgba(0, 0, 0, 0.1) !important;
}
.shadow{
  box-shadow: 
    4px 4px 7px 0 rgba(0, 0, 0, 0.2),
    6px 6px 36px 0 rgba(0, 0, 0, 0.1) !important;
}

@media (max-width: 767.98px) {
  .heading1 {
    font-size: 1.953rem;
    line-height: 37.5px;
  }
  .heading2 {
    font-size: 1.563rem;
    line-height: 30px;
    font-weight: bold;
    
  }
  .heading4 {
    font-size: 1.25rem;
    line-height: 24px;
  }
  .work-text {
    font-size: 1.25rem !important;
  }
}
@media (max-width: 575.98px) {
  .heading1 {
    font-size: 1.563rem;
    line-height: 30px;
    justify-content: center;
  }
  .heading5{
    font-size: 18px;
  }
  .profile-img {
    padding-top: 1rem;
  }
}