@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root{
  --dark-color: #141414;
  --white: #fff;
  --light-green: #C7F0BD;
}
*{
  font-family: 'Roboto Condensed', sans-serif;
}

.navbar{
  background-color: var(--dark-color);
}
.navbar-nav li{
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.navbar-nav > li > a{
  color: var(--white);
  border-bottom: 2px solid var(--dark-color);
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus{
  border-bottom: 2px solid var(--light-green);
}